profiles {
    standard {
        process {
            executor = 'local'
            cpus = 2
            memory = '4 GB'
        }
    }

    highMemory {
        process {
            executor = 'local'
            cpus = 4
            memory = '16 GB'
        }
    }
}

params {
    reads = 'data/*.fastq'
    genome = 'genome.fa'
    outdir = './results'
}

docker {
    enabled = true
    fixOwnership = true
}

singularity {
    enabled = true
    autoMounts = true
}

manifest {
    name = 'NextFlowGenomics'
    mainScript = 'main.nf'
    version = '1.0'
    homePage = 'https://github.com/EemanAbbasi/NextFlowGenomics'
    description = 'Nextflow workflow for high-throughput genomic analysis.'
    author = 'Your Name'
    docker.enabled = true
}
